<!DOCTYPE html>
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>coustomer</title>-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
<!--</head>-->
<!--<body>-->
    <!--<header class="w3-container w3-hr">-->
        <!--<h3 class="w3-center">Customer information..... </h3>-->
    <!--</header>-->

    <!--<form class="w3-container">-->
        <!--<div id="create" class="w3-modal" style="z-index:4">-->
            <!--<div class="w3-model-content w3-animate-zoom">-->

                <!--<div class="w3-panel w3-border">-->
                    <!--<div class="w3-row-padding">-->
                        <!--<div class="w3-half">-->
                            <!--<label>Customer Name</label>-->
                            <!--<input class="w3-input w3-border w3-margin-bottom" type="text" ng-model="$ctrl.customer.customer_name" placeholder="customer_name">-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</form>-->

<!--</body>-->
<!--</html>-->


<html>
<head>
    <title>Customer Information</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
</head>
<body>
<h3 align="center"> Customer Information.... </h3>
<form class="w3-container">
    <div class="w3-model" style="z-index:4">
        <div>
            <div class="w3-half">
                <input class="w3-input" type="text" style="width:90%" ng-model="$ctrl.customer.customer_name" required>
                <label class="w3-label">Customer Name</label>
            </div>
            <div class="w3-half">
                <input class="w3-input" type="text" style="width:90%" required>
                <label class="w3-label">Email</label>
            </div>
            <div class="w3-group">
                <textarea class="w3-input" style="width:90%" required></textarea>
                <label class="w3-label">Comments</label>
            </div>
            <div class="w3-row">
                <div class="w3-half">
                    <label class="w3-checkbox">
                        <input type="checkbox" checked="checked">
                        <div class="w3-checkmark"></div> Married
                    </label>
                    <br>
                    <label class="w3-checkbox">
                        <input type="checkbox">
                        <div class="w3-checkmark"></div> Single
                    </label>
                    <br>
                    <label class="w3-checkbox">
                        <input type="checkbox" disabled>
                        <div class="w3-checkmark"></div> Don't know (Disabled)
                    </label>
                    <br>
                    <br>
                </div>
                <div class="w3-half">
                    <label class="w3-checkbox">
                        <input type="radio" name="gender" value="male" checked>
                        <div class="w3-checkmark"></div> Male
                    </label>
                    <br>
                    <label class="w3-checkbox">
                        <input type="radio" name="gender" value="female">
                        <div class="w3-checkmark"></div> Female
                    </label>
                    <br>
                    <label class="w3-checkbox">
                        <input type="radio" name="gender" value="female" disabled>
                        <div class="w3-checkmark"></div> Don't know (Disabled)
                    </label>
                </div>
        </div>


            <!--<div class="w3-row-padding">-->
                <!--<div class="w3-half">-->
                    <!--<label>Customer Name</label>-->
                    <!--<input class="w3-input w3-border w3-margin-bottom" type="text" ng-model="$ctrl.customer.customer_name" placeholder="Customer Name">-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</form>
</body>
</html>